@page "/fetchdata"
@using CustomPagingGrid.Shared
@inject ServerService server

<PageTitle>Dynamic Grid</PageTitle>

<h1>Dynamic Grid</h1>
<div class="pb-4">
    <button class="btn btn-warning" @onclick="(()=>FetchOldData())">Display old data</button>
    <button class="btn btn-primary" @onclick="(()=>FetchDifferentData())">Display new Data</button>
    <button class="btn btn-success" @onclick="(()=>FetchNewDataKindAsync())">Display new Data Kind</button>
    <button class="btn btn-secondary" style="align-self: flex-end" @onclick="(()=>AutoFitGridColumns())">Auto-Fit Columns</button>
</div>
@*<table class="table">
    <thead>
    <tr>
    @foreach (var p in GetValues.First().GetType().GetProperties())
    {
    <th>@p.Name</th>
    }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in GetValues)
    {
    <tr>
    @foreach (var p in item.GetType().GetProperties())
    {
    <td>@p.GetValue(item)</td>
    }
    </tr>
    }
    </tbody>
    </table>*@

<b />
<b />
@if (GetValues.Any())
{

    <TelerikGrid Data="GetValues"
             Sortable="true"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu"
             Pageable=true
             Resizable="true"
             @ref="@grid">
        <GridColumns>
            @foreach (var p in GetValues.First().GetType().GetProperties())
        {
            <GridColumn Field="@p.Name" Title="@p.Name" FieldType="p.PropertyType" />
        }
    </GridColumns>
</TelerikGrid>
}
@code {
    TelerikGrid<object> grid { get; set; }
    List<object> GetValues = new List<object>();
    public Type ItemType = default!;

    protected override async Task OnInitializedAsync()
    {
        var data = await server.GetDataAsync(10, 1);
        if (data is not null)
        {
            GetValues = new List<object>(data.Value);
        }
    }



    public async Task FetchDifferentData()
    {
        var response = await server.GetProductsAsync();
        GetValues.Clear();//empty the list first
        GetValues = new List<object>(response);
        await grid.AutoFitAllColumnsAsync();
    }

    async void AutoFitGridColumns() => await grid.AutoFitAllColumnsAsync();

    public async Task FetchOldData()
    {
        var data = await server.GetDataAsync(10, 1);
        if (data is not null)
        {
            GetValues.Clear();//empty the list first
            GetValues = new List<object>(data.Value);
            await grid.AutoFitAllColumnsAsync();
        }
    }

    private async Task FetchNewDataKindAsync()
    {
        var data = await server.GetODataAsync();
        if (data is not null)
        {
            GetValues.Clear();
            GetValues = new List<object>(data.Value);
            await grid.AutoFitAllColumnsAsync();
        }
    }
}
